.container{
    margin-top: 2rem;
    color: transparent;
}

.titulo-productos{
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 20;
    border: 1px solid white;
    background-color: transparent;
  }
  
  /* Estilos para el encabezado de la tabla */
  .table th {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 12px;
  }
  
  /* Estilos para las celdas de datos */
  .table td, .table th {
    padding: 8px;
    background-color: transparent;
    color: white;
    text-align: center;
  }
  
  /* Estilos para las filas pares de la tabla */
  .table tbody tr:nth-child(even) {
    background-color: transparent;
  }
  
  /* Estilos para las filas impares de la tabla */
  .table tbody tr:nth-child(odd) {
    background-color: transparent;
  }
  
  /* Estilos para las filas cuando se pasa el ratón por encima */
  .table tbody tr:hover {
    background-color: transparent;
  }
